@import '../common/global';
@import '../common/extend';

section#bottomPanel {
    @include _flex(
        $justifyCont: center, 
        $direction: column, 
        $padd: 20px 5%
    );
    height: 100%;

    div.content {
        & > * {
            margin-bottom: 20px;

            &:last-child {
                margin: 0;
            }
        }

        p {
            font-size: 15px;
            line-height: 28px;
            letter-spacing: 2px;
        }
    }

    span.line {
        display: block;
        background: $white;
        width: 60%;
        height: 2px;
    }

    a.openProg {
        @extend %btnOpenPrg;
        width: fit-content;
    }
}