@import '../common/global';
@import '../common/mixins';
@import '../common/extend';

section.topPanel {
    @include _flex($alignItems: center, $padd: 10px 5%);
    background: $light-blue;
    border-bottom: 2px solid #89DCFF;
    width: inherit;

    & > * {
        margin: 0 2%;
    }

    a.logo {
        display: none;
        width: $sizeLogo;
    }

    a.openProg {
        @extend %btnOpenPrg;
    }

    button.menu {
        width: $sizeBtnMenu;
        height: $sizeBtnMenu;
    }

    nav {
        display: none;

        &#socialNetwork li {
            width: $sizeSocNetwork;

            img {
                border-radius: 7px;
                height: fit-content;
            }
        }

        &#links {

            a {
                position: relative;

                &::before {
                    content: '';
                    position: absolute;
                    background: $dark;
                    width: 10px;
                    height: 2px;
                    transform: translateY(-50%);
                    top: 50%;
                    left: -16px;
                    transition: .2s opacity;
                    opacity: 0;
                }

                &:hover::before {
                    opacity: 1;
                }
            }

            max-width: 400px;
            width: 100%;
        }
    }

    ul {
        @include _flex;
        height: 100%;

        li {
            margin-right: 30px;
    
            &:last-child {
                margin: 0;
            }
        } 
    }
}