@import '../common/global';
@import '../common/mixins';
@import '../common/extend';

section.topPanel {
    position: fixed;
    background: transparent;
    @include _flex($alignItems: center, $padd: 20px 5%);
    width: inherit;
    top: 0;
    left: 0;

    & > * {
        margin: 0 2%;
    }

    a.logo {
        display: none;
        width: $sizeLogo;
    }

    a.openProg {
        @extend %btnOpenPrg;
    }

    button.menu {
        width: $sizeBtnMenu;
        height: $sizeBtnMenu;
    }

    nav {
        display: none;

        &#socialNetwork a {
            display: block;
            box-shadow: 0px 0px 0px 2px rgba($color: $white, $alpha: 1);
            border-radius: 50%;
            transition: .2s transform;
            width: $sizeSocNetwork;
            padding: ($sizeSocNetwork / 4) 0;
            font-size: 16px;
            text-align: center;

            &:hover {
                transform: scale(1.1);
            }
        }

        &#links {

            a {
                position: relative;

                &::before {
                    content: '';
                    position: absolute;
                    background: $white;
                    width: 10px;
                    height: 2px;
                    transform: translateY(-50%);
                    top: 50%;
                    left: -16px;
                    transition: .2s opacity;
                    opacity: 0;
                }

                &:hover::before {
                    opacity: 1;
                }
            }

            max-width: 400px;
            width: 100%;
        }
    }

    ul {
        @include _flex;
        height: 100%;

        li {
            margin-right: 30px;
    
            &:last-child {
                margin: 0;
            }
        } 
    }
}