@import './global';

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    text-size-adjust: 100%;
}

*::before,
*::after {
    pointer-events: none;
}

body {
    @include _background('../public/image/png/background.jpg');
    background-attachment: fixed;
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;

    div#mainPage {

        &>*:first-child section *,
        &>*:nth-child(odd):not(header):not(footer) section:nth-child(even) {
            @include _fill($white);
        }

        &>*:last-child section *,
        &>*:nth-child(even):not(header):not(footer) section:nth-child(odd) {
            @include _fill($dark);
        }

        section div.wave {
            position: absolute;
            line-height: 0;
            width: 100%;
            height: $heightWave;
            transform: rotate(180deg);
            left: 0;
            overflow: hidden;

            svg {
                position: relative;
                display: block;
                width: calc(100% + 1.3px);
                height: 100%;
            }

            path.shape-fill {
                fill: $white;
            }

            &:first-child {
                top: -($heightWave - 1);
            }

            &:last-child {
                bottom: -($heightWave - 1);

                svg {
                    transform: rotateX(180deg) rotateY(180deg);
                }
            }
        }
    }
}

img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    user-select: none;
}

button {
    background: none;
    border: none;
    cursor: pointer;
}

h1 {
    font: 800 $sizeH1 $fontFam;
    text-transform: uppercase;
}

h2 {
    font: 700 $sizeH2 $fontFam;
}

h3 {
    font: 700 $sizeH3 $fontFam;
}

a {
    font: 600 $sizeLink $fontFam;
}

p,
span {
    font: 500 $sizeText $fontFam;
}