//* -----=== font ===-----
$fontFam: 'Raleway';

//* -----=== window ===-----
$minSize-tabl: 574px;

//* -----=== size ===-----
$sizeLogo: 140px;
$sizeSocNetwork: 30px;
$sizeBtnMenu: 30px;

//* -----=== color ===-----
$white: #FFFF;
$light-blue: #E7F8FF;
$blue: #4FBBE8;
$dark: #343A40;