//* -----=== font ===-----
$fontFam: 'Raleway';

//* -----=== window ===-----
$minSize-tabl: 518px;
// $minSize-comp: ;

//* -----=== size ===-----
$sizeLogo: 90px;
$sizeSocNetwork: 30px;
$sizeBtnMenu: 40px;