@import './global';
@import './mixins';

@media (min-width: $minSize-tabl) {
    header {
        a.openProg {
            padding: 16px 20px !important;
        }

        section#topPanel {
            nav,
            a.logo {
                display: block !important;
            }

            *.button {
                display: none !important;
            }
        }

        section#bottomPanel {
            h1 {
                font-size: 36px !important;
            }

            div.content {
                max-width: 500px;
            }

            a.openProg {
                display: block;
            }
        }
    }

    main {
        section#description div.content {
            margin: 0;

            &>*:nth-child(odd) {
                flex-direction: row,
            }

            &>*:nth-child(even) {
                flex-direction: row-reverse,
            }

            div.text {
                width: $widthText;
            }

            div.image {
                width: 100% - $widthText;
            }
        }

        section#video iframe {
            height: 400px !important;
        }
    }

    footer {
        section#footer {
            flex-direction: row;
            width: 100%;
            margin: 0;
        }
    }
}