@import './global';

@mixin _flex(
    $status: '',
    $justifyCont: space-between, 
    $alignItems: unset, 
    $direction: row,
    $padd: 0,
) {
    display: flex #{$status};
    justify-content: $justifyCont;
    align-items: $alignItems;
    flex-direction: $direction;
    padding: $padd;
}

@mixin _line($width: 100%) {
    background: $white;
    width: $width;
    height: 2px;
}

@mixin _background($url: '', $direction: center) {
    background: url($url) $direction no-repeat;
    background-size: cover;
}