@import '../common/base';
@import '../common/mixins';

section#description {
    position: relative;
    background: $white;
    padding: 0 2%;

    p {
        line-height: 23px;
    }

    h2 {
        font-size: 24px;
    }

    ul li p {
        position: relative;
        padding-left: 25px;

        &::before {
            content: '';
            @include _list($backCol: $dark, $left: 10px);
        }
    }

    div.content {
        margin-top: 20px;

        & > * {
            @include _flex($padd: 0 3%, $direction: column, $alignItems: center);
        }

        div.image {
            height: 100px;
            margin: 30px 4%;

            img {
                object-fit: contain;
            }
        }

        div.text {
            div {
                ul li {
                    margin: 6px 0;
                }

                margin-top: 10px;

                p {
                    font-weight: 600;
                }
            }
        }
    }
}