@import '../common/base';
@import '../common/mixins';

section#description {
    position: relative;
    background: $white;
    padding: 0 2%;

    p {
        line-height: 23px;
    }

    h2 {
        font-size: 24px;
    }

    ul li p {
        position: relative;
        padding-left: 25px;

        &::before {
            content: '';
            @include _list($backCol: $dark, $left: 6px);
        }
    }

    div.wave {
        position: absolute;
        line-height: 0;
        width: 100%;
        height: $heightWave;
        transform: rotate(180deg);
        left: 0;
        overflow: hidden;

        svg {
            position: relative;
            display: block;
            width: calc(100% + 1.3px);
            height: 100%;
        }

        path.shape-fill {
            fill: $white;
        }
    }

    div.wave:first-child {
        top: -($heightWave - 1);
    }

    div.wave:last-child {
        bottom: -($heightWave - 1);

        svg {
            transform: rotateX(180deg) rotateY(180deg);
        }
    }

    div.content {
        margin-top: 20px;

        & > * {
            @include _flex($padd: 0 3%, $direction: column, $alignItems: center);
        }

        div.image {
            height: 100px;
            margin: 30px 4%;

            img {
                object-fit: contain;
            }
        }

        div.text {
            div {
                ul li {
                    margin: 6px 0;
                }

                margin-top: 10px;

                p {
                    font-weight: 600;
                }
            }
        }
    }
}