@mixin _dirRow {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    margin: 0 5%;
}

@mixin _dirColumn {
    display: flex;
    flex-direction: column;
    margin: 20px 0;
}

header {
    .topPanel {
        background: red; 
    }
}